@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none;
}

/* Custom link styles using Tailwind's @apply directive */

.active-link {
    @apply  flex items-center p-2 gap-x-3 rounded-md bg-[#2B7858]  text-sm font-semibold leading-6 text-white;
}

.inactive-link {
    @apply  flex items-center p-2 gap-x-3 rounded-md  text-sm font-semibold leading-6  hover:bg-[#2B7858] text-[#74B096] hover:text-white;
}
/* Active Link Styling */
.public-active-link {
    @apply flex items-center px-4 py-2 gap-x-3 rounded-md bg-green-600 text-white font-semibold text-sm;
}

/* Inactive Link Styling */
.public-inactive-link {
    @apply flex items-center px-4 py-2 gap-x-3 rounded-md text-white hover:bg-green-600 hover:text-white transition-colors duration-200 ease-in-out text-sm;
}



.section-bg{
    @apply bg-tory-blue-200;
}
/*
.fi-fi-repeater-item-content{
    background: red !important;
    } */

    .fi-fo-repeater-item-header{

        @apply bg-[#E2E5E0];
}
    .fi-fo-repeater-item-content{

       @apply bg-[#E2E5E0];
}

.fi-ta-header-cell{

    @apply bg-[#F9FAFC] text-white;
}
/*
.fi-section-content{
    @apply bg-[#E2E5E0]
} */
/*
.fi-ta-header-cell{

    @apply bg-tory-blue-700 text-white;
}
.fi-ta-header-cell-label{

    @apply  text-white;
}
 */
 .custom-scrollbar {
    scrollbar-width: thin; /* Firefox */
    scrollbar-color: transparent transparent; /* Transparent thumb and track */
}

.custom-scrollbar::-webkit-scrollbar {
    width: 6px; /* Narrower scrollbar width to resemble mobile */
}

/* Transparent scrollbar by default */
.custom-scrollbar::-webkit-scrollbar-track {
    background: transparent; /* Transparent track */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: transparent; /* Transparent thumb by default */
    border-radius: 10px; /* Rounded scrollbar thumb */
    border: 2px solid transparent; /* Transparent border for padding */
}

/* On hover, show the rounded scrollbar with light colors */
.custom-scrollbar:hover {
    scrollbar-color: rgba(200, 200, 200, 0.5) rgba(240, 240, 240, 0.5); /* Lighter and more transparent colors */
}

.custom-scrollbar:hover::-webkit-scrollbar-track {
    background: rgba(240, 240, 240, 0.5); /* Light track color */
}

.custom-scrollbar:hover::-webkit-scrollbar-thumb {
    background-color: rgba(180, 180, 180, 0.7); /* Light thumb color similar to mobile */
    border-radius: 12px; /* More rounded thumb */
    border: 2px solid rgba(240, 240, 240, 1); /* Padding around thumb */
}

.custom-scrollbar:hover::-webkit-scrollbar-thumb:hover {
    background-color: #ffffff; /* Slightly darker thumb on hover */
}
