@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none;
}

/* Custom link styles using Tailwind's @apply directive */

.active-link {
    @apply  flex items-center p-2 gap-x-3 rounded-md bg-tory-blue-50  text-sm font-semibold leading-6 text-tory-blue-600;
}

.inactive-link {
    @apply  flex items-center p-2 gap-x-3 rounded-md  text-sm font-semibold leading-6 text-gray-600 hover:bg-tory-blue-50 hover:text-tory-blue-600;
}


.section-bg{
    @apply bg-tory-blue-200;
}
/*
.fi-fi-repeater-item-content{
    background: red !important;
    } */

    .fi-fo-repeater-item-header{

        @apply bg-tory-blue-50;
}
    .fi-fo-repeater-item-content{

       @apply bg-tory-blue-50;
}
/*
.fi-ta-header-cell{

    @apply bg-tory-blue-700 text-white;
}
.fi-ta-header-cell-label{

    @apply  text-white;
}
 */
 .custom-scrollbar {
    scrollbar-width: thin; /* Firefox */
    scrollbar-color: transparent transparent; /* Transparent thumb and track */
}

.custom-scrollbar::-webkit-scrollbar {
    width: 6px; /* Narrower scrollbar width to resemble mobile */
}

/* Transparent scrollbar by default */
.custom-scrollbar::-webkit-scrollbar-track {
    background: transparent; /* Transparent track */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: transparent; /* Transparent thumb by default */
    border-radius: 10px; /* Rounded scrollbar thumb */
    border: 2px solid transparent; /* Transparent border for padding */
}

/* On hover, show the rounded scrollbar with light colors */
.custom-scrollbar:hover {
    scrollbar-color: rgba(200, 200, 200, 0.5) rgba(240, 240, 240, 0.5); /* Lighter and more transparent colors */
}

.custom-scrollbar:hover::-webkit-scrollbar-track {
    background: rgba(240, 240, 240, 0.5); /* Light track color */
}

.custom-scrollbar:hover::-webkit-scrollbar-thumb {
    background-color: rgba(180, 180, 180, 0.7); /* Light thumb color similar to mobile */
    border-radius: 12px; /* More rounded thumb */
    border: 2px solid rgba(240, 240, 240, 0.5); /* Padding around thumb */
}

.custom-scrollbar:hover::-webkit-scrollbar-thumb:hover {
    background-color: rgba(160, 160, 160, 0.8); /* Slightly darker thumb on hover */
}
